@import "./button";
@mixin Flex($justify, $align){
    display:flex;
    justify-content: $justify;
    align-items: $align;
} 

#mirror{
    transition: none;
    transform: scaleX(-1);
}
a{
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    @include Flex(center, center);
    flex-direction: column;
}
*{
    margin:0;
    padding: 0;
    font-weight: 400;
    font-family: 'Noto Sans', sans-serif;

}
#hover-scale{
    transition: ease-in-out, 0.5s;
    &:hover {
        scale: 120%;
    }
}
.add{
    @include Flex(center,center);
    margin: 1vh 0 0 1vh;
    gap: 100px;
}
nav{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2vh 0 0 1vh;
}
.logo{
    margin-left: 5vh;
}
.logo img{
    height: 40px;
    width: 40px;
    transition: ease-in-out, 0.5s;
    &:hover {
        rotate: 1turn;

    }
}
.menu-container{
    display: flex;
    flex-direction: row;
    margin-right: 5vh;

}
.menu-item{
    margin-right: 2vh;
}
.menu-item img{
    height: 40px;
    width: 40px;
    transition: ease-in-out, 0.5s;
    &:hover {
        scale: 130%;
    
    }
}


.send-button{
    @include Flex(center, center);
    margin-top: 3px; 
}
.gallery-container{
    width: auto;
    height: auto;
    margin: 8vh 0 8vh 0;
    padding: 0 8vw 0 8vw;
    @include Flex(auto, flex-start);
    
    flex-wrap: wrap;

}

.gallery-item img{

    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    max-width: 300px;
    max-height: 300px;
    

}
#delete{
    position: static;
    width: 100%;
    height: 100%;
    height: fit-content;
    visibility: hidden;
    &:hover{
        visibility: visible;
        opacity: 0.5;
        background-color: red;
    }
}

.delete-button{
    visibility: hidden;
    position: absolute;
    top: 8px;
    left: 48%;
    background-color: rgb(228, 228, 228);
    width: 80px;
    height: 40px;
    text-align: center;
    transition: ease-in-out, 0.5s;
    @include Flex(center, center);
    cursor: pointer;
    &:hover {
        background-color: red;
    }

}
.delete-button h1{
   font-size: 15px;
   font-weight: 700;
}
.delete-button-small{
    @include Flex(center, center);
    height: 40px;
    width: 40px;
    transition: ease-in-out, 0.5s;
    &:hover{
        animation: shake 0.5s; 
        scale: 110%; 
        animation-iteration-count: infinite; 
        
    }
}
.delete-button-small {
    height: 40px;
    width: 40px;
}
#img{
    height: 20px;
    width: 20px;
}
#img_big{
    height: 40px;
    width: 40px;
    transition: ease-in-out, 0.5s;
    &:hover{
        scale: 120%;
    }
}
#text-center{
    text-align: center!important;
}
#neviem_uz{
    width: 100vw;
    position: absolute;
    @include Flex(center,center);
}
.delete-item img {

    width: 40px;
    height: 40px;


}
.like-item{
    display: flex;
    flex-direction: column;
}
/*---------------img-detail-------------------------*/



.image-container{
    width: 100vw;
    height: 80vh;
    @include Flex(center, center)

}
.image-item{
    width: 80%;
    height: 80%;
    @include Flex(center, center)
}
.image-item img{

    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.navbar-container{
    @include Flex(center, center);
    margin: 0 0 3vh 0; 
}
.img-navbar-container{
    @include Flex(space-between, center);
    width: 20%;

}

.img-navbar-item img{
    width: 40px;
    height: 40px;
    transition: ease-in-out, 0.5s;
    &:hover {
        scale: 130%;
        
    }
}

/* ---------------gallery------------------------*/

.album-container{
    width: auto;
    height: auto;
    margin: 8vh 0 8vh 0;
    padding: 0 8vw 0 8vw;
    @include Flex(auto,flex-start );
    gap: 2vw;
    flex-direction: row;
}
.album-item{

    @include Flex(center, center);
    flex-direction: column;
    transition: ease-in-out, 0.5s;
    width: 120px;
    height: 120px;
    &:hover{
        scale: 130%;
    }
}
.sub-item{
    @include Flex(center, center);
    flex-direction: column;
}
.album-item img{

    width: 80px;
    height: 80px;
    


}



